<h2>人员登记系统</h2>
<div class="people_list">
  <ul>{{peopleInfo.username}}
    <li>姓 名：<input type="text" id="username" [(ngModel)]="peopleInfo.username" value="fonm_input" /></li>
    <li>性 别：
      <input type="radio" value="1" name="sex" id="sex1" [(ngModel)]="peopleInfo.sex">
      <label for="sex1">男 </label>　　　
      <input type="radio" value="2" name="sex"  id="sex2" [(ngModel)]="peopleInfo.sex">
      <label for="sex2">女 </label>
    </li>
    <li>
      城 市：
      <select name="city" id="city" [(ngModel)]="peopleInfo.city">
        <option *ngFor="let item of cityList" [value]="item">{{item}}</option>
      </select>
    </li>
    <li>
      爱 好：
      <span *ngFor="let item of peopleInfo.hobby;let key = index">
            <input type="checkbox" [id]="'check'+key"  />
            <label [for]="'check'+key">{{item.title}}</label>
            &nbsp;&nbsp;
        </span>
    </li>
    <li>
      备 注：
      <textarea name="mark" id="mark" cols="30" rows="10" [(ngModel)]="peopleInfo.remark"></textarea>
    </li>
  </ul>
  <button  class="submit" (click)="doSubmit($event)">获取表单的内容</button>
  <br>
</div>


{{peopleInfo | json}}


